body{
    background-color: white;
    /* background-image: url("C:\Users\Raghul\student-management\src\assets\images\homeimg1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}